<!DOCTYPE html>
<html>
<head>
    <meta charset="urf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                       crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">

    {% block head %} {% endblock %}
</head>

<body>
    <header>
        {% block above_content %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block below_content %} {% endblock %}
    {% block javascript %} {% endblock %}
</body>
</html>