{% extends 'base.html' %}
{% block title %}Oferta{% endblock %}

{% block above_content %}
    <h1>Oferta</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-around">
            {% for ticket in tickets %}
                <div class="col-md-4 col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bilet {{ ticket.days_amount }} dni</h5>
                            <p class="card-text">Bilet {{ ticket.days_amount }} dniowy umożliwiający podróżowanie wszystkimi liniami</p>
                            <p>{{ ticket.price|floatformat:2 }} zł</p>
                            <a href="/profil/uzytkownikKarty/zakupBiletu/{{ ticket.id }}" class="btn btn-outline-info">Zakup</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}