{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block head %}
    {% load static %}
{% endblock %}

{% block above_content %}
    <h1 class="text-center mt-3">Witaj {{name}} {{surname}}</h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-around mt-5">
        <a href="oferta" id="offers-href" class="btn btn-primary btn-lg" role="button">Przejrzyj ofertę</a>
        <a href="statusKarty" id="sell-href" class="btn btn-primary btn-lg" role="button">Szczegóły karty</a>
    </div>
{% endblock %}