{% extends 'base.html' %}
{% block title %}System obsługi biletów{% endblock %}

{% block head %}
    {% load static %}
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">System biletów okresowych MPK Wrocław</h1>
        <p class="lead">Bilety okresowe na karcie</p>
        <hr class="my-4">
        <p>Zapoznaj się z ofertą lub zaloguj w celu zakupu biletu</p>
        <a class="btn btn-success btn-lg" href="/oferta" role="button">Zobacz ofertę</a>
    </div>
{% endblock %}