{% extends 'base.html' %}
{% block title %}Count points{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_page_style.css' %}">

{% endblock %}

{% block above_content %}
    <h1>System obsługi biletów okresowych</h1>
{% endblock %}

{% block content %}
    <div id="login-redirect">
         <p>Aby skorzystać z serwisu, zaloguj się.</p>
        <a href="/zaloguj" class="btn btn-primary btn-lg" role="button">Przejdź do strony logowania</a>
    </div>
{% endblock %}