{% extends 'base.html' %}
{% block title %}Rejestracja użytkownika{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'register_style.css' %}">

{% endblock %}

{% block above_content %}
    <h1>Rejestracja użytkownika karty</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-group row">
                <label for="inputName" name="name" class="col-sm-2 col-form-label">Imię</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" autofocus="" maxlength="50"
                            class="form-control" id="inputName" placeholder="Wprowadź imię użytkownika karty" required>
                    </div>
            </div>
            <div class="form-group row">
                 <label for="inputSurname" class="col-sm-2 col-form-label">Nazwisko</label>
                    <div class="col-sm-10">
                        <input type="text" name="surname" autofocus="" maxlength="50"
                            class="form-control" id="inputSurname" placeholder="Wprowadź nazwisko użytkownika karty" required>
                    </div>
            </div>
            <div class="form-group row">
                 <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Wprowadź e-mail użytkownika karty" required>
                    </div>
            </div>
            <div class="form-group row">
                 <label for="inputCardId" class="col-sm-2 col-form-label">ID Karty</label>
                    <div class="col-sm-10">
                        <input type="text" name="cardId" class="form-control" id="inputCardId" placeholder="Wprowadź ID Karty" required>
                    </div>
            </div>
        </div>

        <div class="row" id="row-buttons" style="padding-left: 11%; padding-right: 20%; margin-top: 3%;">
            <div class="col-6 text-left">
                <a href="/profil/sprzedawca" class="btn btn-danger" role="button">Powrót do profilu</a>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" type="submit">Zatwierdź</button>
            </div>
        </div>
    </form>


{% endblock %}