{% extends 'base.html' %}
{% block title %}Count points{% endblock %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                       crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'seller_buy_ticket_style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">

{% endblock %}

{% block above_content %}
    <h1>Zakup biletu na wskazaną kartę</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
                <div class="form-group row">
                     <label for="input-card-id" class="col-sm-2 col-form-label">ID Karty</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-card-id" placeholder="Wprowadź ID Karty" required>
                        </div>
                </div>

                <button name="get-ticket-data" class="btn btn-primary" type="submit">Zatwierdź</button>

                <div class="form-group row">
                    <label for="select-ticket-type" class="col-sm-2 col-form-label">Bilet</label>
                    <select class="form-select" id="select-ticket-type" aria-label="Wybierz rodzaj biletu" required>
                        <option selected>Wybierz rodzaj biletu</option>
                        <option value="1">Miesieczny</option>
                        <option value="2">Tygodniowy</option>
                        <option value="3">Trzydniowy</option>
                    </select>
                </div>

                <button name="buy-ticket" class="btn btn-primary" type="submit">Zatwierdź</button>
        </form>
    </div>
{% endblock %}