.form-container {
    margin-top: 5%;
}


.form-group input {
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}

main {
    padding: 10px;
    vertical-align: center;
}

.text-danger {
    color: red;
}

button {
  float:right;
  margin-right:20%;
}