form {
    margin-left: 10%;
    margin-top: 3%;
}


.form-control {
    width: 80%;
}

.form-select {
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}

button {
    margin-left: 72%;
}